# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# Lambdas empaquetadas y dependencias
backend/*/node_modules/
backend/*.zip
backend/*/*.zip

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.production
